/* .header{
    background: url("https://img.freepik.com/free-photo/delicious-indian-food-tray_23-2148723505.jpg?w=900&t=st=1725222872~exp=1725223472~hmac=53d2f508b25214a81dbada9c693e4bf01af60ec33a4267f90c8aa14426042203") no-repeat;
    background-size:cover;
    position: relative;
} */